

.flex_box{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 90%;
}

.flex_content_full{
  width: 100%;
}

.flex_form{
  width: 80%;
}

.flex_box_full{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.flex_stack{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_content{

  display: inline-flex;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}
