.body {
  background-color: #3984cd;
}

.flex_box{
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 90%;
}

.flex_content_full{
  width: 100%;
}

.flex_form{
  width: 80%;
}

.flex_box_full{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.flex_stack{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_content{

  display: inline-flex;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}

.Menu_flex_box{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu_content{
  width: 360px;
  padding: 0px 10px;
  display: inline-flex;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}

.banner {
  width: 100%;
  display: inline-block;
  color: inherit;
  fill: currentColor;
  text-align: center;
  /* background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_011343825.jpg"); */
}


.bannerImage {
  width: 100%;
  max-width: 700px;
  /* background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_011343825.jpg"); */
}

.menuButton_post {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_072154383.jpg");
}

.menuButton_account {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_005746790_02.jpg");
}


.menuButton_request {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_005746790_03.jpg");
}


.menuButton_offer {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_005746790_04.jpg");
}


.menuButton_login {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_072033829.jpg");

}

.menuButton_logout {
  width:120px;
  height:60px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_072039646.jpg");

}




.flex_empty{
  display: inline-flex;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
  /* min-width:120px; */
  height:60px;
  flex-grow: 1;
}

.menuButton_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-width: 2px;
  border-style: solid;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("https://helpinghands.s3.us-east-2.amazonaws.com/KakaoTalk_20200728_072730404.jpg");
  vertical-align: middle;

}

@font-face {
  font-family: 'MenuFont';

  font-weight: bold;
  src: url('https://helpinghands.s3.us-east-2.amazonaws.com/Eras_Bold_ITC.ttf');
}


.userDisplay {
  /* border-width: 2px;
  border-style: solid; */
  color:white;
  font-family: 'MenuFont';
  font-size: 24px;

  -webkit-text-stroke: 1px black;
    /* -webkit-text-fill-color: white; */
  padding: 0px 20px;
}



.span_NoInfo {
  font: italic small-caps bold;
}
